{% if page.aside_options.section1 == "services" %}
<h3>Holistic sex therapy</h3>
<p>
  Holistic sex therapy is a counselling therapy centred on intimate feelings, actions and the history of your sex life. <a href="/services">Learn more…</a>
</p>
{% else %}
<h3>Andrea Haas</h3>
<p>
  <img src="/assets/photos/andrea-haas.jpg" width="90" style="float: left; padding-right: 1.5rem;">
  Andrea is an experienced holistic therapist with more than 20 years practice experience. She specialises in sexual dysfunction, premature ejaculation, painful sex, sexual desire and libido. <a href="/about">Learn more…</a>
</p>
{% endif %}
<h4>How to start</h4>
<p>
  Begin with a <a href="/contact">Self Report Questionnaire</a>.
</p>
<h4>Holistic Health Solutions</h4>
<p>
    Suite 54, Chatswood Village<br>
    47 Neridah St<br>
    Chatswood NSW 2067<br>
    Sydney<br>
    {% include icon-feather.html id="phone" title="phone" %} 0425 218 022<br>
    {% include icon.html id="email" title="email" %} <a href="mailto:{{ site.email }}">{{ site.email }}</a>
</p>
  
